<!DOCTYPE html>
        {% load static %}
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/bootstrap.css' %}"/>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'table/css/jquery.dataTables.css' %}"/>
    <title>موقع مكتبة</title>
    <!--<link  rel="stylesheet" type="text/css" href="css/css.css">-->
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
<div id="header">
   <div class="container">
       <div class="float-right">
           <a href="home.html" id="logo">bibliotheque</a>
       </div>
       <div class="float-left">
           <h3></h3>
       </div>
   </div>
</div>
<br>
<!--<div id="w1">-->
    <!--<h3>البحث</h3>-->
    <!--<form action="search" method="get">-->
        <!--<label>البحث: </label>-->
        <!--<input type="text" name="q">-->
        <!--<input type="submit" value="البحث">-->
    <!--</form>-->
<!--</div>-->
<p align="right"><strong>عدد زوار الموقع</strong> {{ num_visits }}{% if num_visits == 1 %} {% else %} {% endif %}.</p>
{% block body %}
    <main id="cont">
    <form>
        <div class="book-list">
            <table id="table">
            <thead>
                <tr>
                <th>
                    <span>الرقم التسلسلي</span>
                </th>
                <th>
                    <a>إسم الكتاب</a>
                </th>
                <th>
                    <span>رقم المجلد</span>
                </th>
                <th>
                    <span>المؤلف</span>
                </th>
                <th>
                    <span>الناشر</span>
                </th>
            </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <div>
                        <tr>
                            <th>
                                <p>{{ forloop.counter }}</p>
                            </th>
                            <th>
                                <p>{{book.title}}</p>
                            </th>

                            <th>
                                <p>{{book.folder_number}}</p>
                            </th>
                            <th>
                                <p>{{book.author}}</p>
                            </th>
                            <th>
                                <p>{{book.publisher}}</p>
                            </th>

                        </tr>
                    </div>
                {% endfor %}
            </tbody>

        </table>
        </div>
    </form>
</main>
{% endblock %}
<!--<footer id="footer">-->
    <!--<div class="footer-done">-->
        <!--<h3>Done By:</h3>-->
    <!--</div>-->
<!--</footer>-->
</body>
<script src = "{% static 'table/js/jquery-3.2.1.js' %}"></script>
<script src = "{% static 'table/js/jquery.dataTables.js' %}"></script>
<!--<script type = "text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--$('#table').DataTable();-->
    <!--});-->
<!--</script>-->
<div>
              {% block pagination %}
                  {% if is_paginated %}
                      <div class="pagination">
                          <span class="page-links">
                              {% if page_obj.has_previous %}
                                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                              {% endif %}
                              <span class="page-current">
                                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                              </span>
                              {% if page_obj.has_next %}
                                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                              {% endif %}
                          </span>
                      </div>
                  {% endif %}
                {% endblock %}
          </div>
<script type="text/javascript">
    $(document).ready(function() {
    $('#table').DataTable( {
        "language": {
            "sProcessing":   "جارٍ التحميل...",
    "sLengthMenu":   "أظهر _MENU_ مدخلات",
    "sZeroRecords":  "لم يعثر على أية سجلات",
    "sInfo":         "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
    "sInfoEmpty":    "يعرض 0 إلى 0 من أصل 0 سجل",
    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
    "sInfoPostFix":  "",
    "sSearch":       "ابحث:",
    "sUrl":          "",
    "oPaginate": {
        "sFirst":    "الأول",
        "sPrevious": "السابق",
        "sNext":     "التالي",
        "sLast":     "الأخير"
    }
        }
    } );
} );
</script>
</html>